/**
 * ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
 * ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
 * └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
 * https://github.com/kbuckleys/
 * Dummy config.rasi to allow spotirofi.lua to bypass global rofi's config.rasi */

configuration {}
