/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 900px;
}

mainbox {
    children: [ inputbar, message, listview ];
}

inputbar {
    enabled: false;
}

listview {
    fixed-columns: false;
    fixed-height: false;
    scrollbar: false;
    columns: 1;
    lines: 14;
}

element-text {
    font: "JetBrainsMono Nerd Font Propo Medium 14";
    horizontal-align: 0.5;
    highlight: bold #b6e0a4;
}
element-text selected {
    background-color: transparent;
    text-color: #b6e0a4;
}

message {
    background-color: #16191d;
    padding: 5px 5px 5px 5px;
}
textbox {
    text-color: #b6e0a4;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
