/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    location: south;
    anchor: south;
    width: 700px;
}

mainbox {
    children: [ message, listview ];
}

listview {
    fixed-columns: false;
    fixed-height: false;
    scrollbar: false;
    columns: 2;
    lines: 6;
}

element {
    padding: 2px 8px;
}
element-text {
    highlight: bold #b6e0a4;
}
element-text selected {
    background-color: transparent;
}

message {
    background-color: #20242a;
    margin: 0px 0px -1px 0px;
    padding: 5px;
}
textbox {
    text-color: #b6e0a4;
    horizontal-align: 0.5;
    font: "0xProto Nerd Font Propo Bold 12";
}
