/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

window {
    width: 700px;
}

mainbox {
    children: [ textbox ];
}

textbox {
    text-color: #000000;
    horizontal-align: 0.5;
    font: "0xProto Nerd Font Propo, DejaVu Sans Bold 12";
    padding: 8px;
    background-color: #fab387;
}
