/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

window {
    width: 1000px;
}

mainbox {
    children: [ inputbar, message, listview ];
}

inputbar {
    enabled: true;
    children: [textbox-prompt-colon, entry];
    padding: 4px 8px;
    spacing: 4px;
}

listview {
    fixed-columns: false;
    fixed-height: false;
    scrollbar: false;
    columns: 2;
    lines: 14;
}

element {
    padding: 2px 20px 2px 20px;
}
element-text {
    highlight: bold #b6e0a4;
}
element-text selected {
    background-color: transparent;
}

message {
    background-color: #16191d;
    padding: 5px 30px 5px 30px;
}
textbox {
    text-color: #b6e0a4;
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
textbox-prompt-colon {
    padding: 0px 8px 0px 8px;
    color: #b6e0a4;
    str: "";
}
entry {
    text-color: #b6e0a4;
}
