/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

window {
    width: 700px;
}

mainbox {
    children: [ listview ];
}

listview {
    fixed-columns: false;
    fixed-height: false;
    scrollbar: false;
    columns: 1;
    lines: 10;
}

element {
    padding: 2px 2px 2px 2px;
}
element-text {
    font: "0xProto Nerd Font Propo, DejaVu Sans 12";
    horizontal-align: 0.5;
}
element-text selected {
    text-color: #b6e0a4;
    font: "0xProto Nerd Font Propo, DejaVu Sans Bold 12";
}
