/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

window {
    width: 1000px;
    children: [ wrap, listview-split ];
}

wrap {
    expand: false;
    children: [ message ];
}

listview-split {
    orientation: horizontal;
    children: [ icon-current-entry, listview ];
}
listview {
    padding: 0px 3px 2px 1px;
    lines: 13;
}

icon-current-entry {
    background-image: url("%s", both);
    size: 364px;
}

element-text {
    horizontal-align: 0.5;
}

textbox {
    text-color: #b6e0a4;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
