/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 1000px;
    children: [ wrap, listview-split ];
}

wrap {
    expand: false;
    children: [ inputbar, message ];
}

inputbar {
    enabled: false;
}

listview-split {
    orientation: horizontal;
    children: [ icon-current-entry, listview ];
}
listview {
    padding: 0px 3px 2px 1px;
    lines: 13;
}

icon-current-entry {
    background-image: url("%s", both);
    size: 364px;
}

element-text {
    highlight: bold #b6e0a4;
}

textbox {
    text-color: #b6e0a4;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
