/**
 * ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
 * ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
 * └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
 * https://github.com/kbuckleys/
 * Dummy config.rasi to allow spoot.lua to bypass global rofi's config.rasi */

configuration {
    kb-remove-char-forward: "Control+d";
}
