/**
 * ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
 * ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
 * └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
 * https://github.com/kbuckleys/ */

@import "ZENON"

* {
    selected-normal-background: none;
}

configuration {
    show-icons: true;
}

window {
    width: 304px;
}

mainbox {
    children: [ listview, message ];
}

listview {
    lines: 1;
    columns: 1;
    padding: -40px 0px -40px 0px;
}

element-icon {
    size: 300px;
    expand: false;
}
element-text {
    enabled: false;
}

message {
    background-color: transparent;
}
textbox {
    text-color: #b6e0a4;
    padding: 0px 0px 20px 0px;
    font: "JetBrainsMono Nerd Font Propo Bold 13";
}
