/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

window {
    width: 700px;
}

mainbox {
    children: [ textbox ];
}

textbox {
    font: "JetBrainsMono Nerd Font Propo Bold 12";
    padding: 10px 30px 10px 30px;
    background-color: #fab387;
    text-color: #000000;
}
