/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

window {
    width: 700px;
}

mainbox {
    children: [ inputbar, message, listview ];
}

inputbar {
    children: [textbox-prompt-colon, entry];
}

listview {
    columns: 1;
    lines: 6;
}

element-text {
    highlight: bold #b6e0a4;
    horizontal-align: 0.5;
}

textbox {
    text-color: #b6e0a4;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
textbox-prompt-colon {
    font: "JetBrainsMono Nerd Font Propo SemiBold 14";
    color: #b6e0a4;
    str: "";
}
entry {
    font: "JetBrainsMono Nerd Font Propo SemiBold 13";
    text-color: #b6e0a4;
}
message {
    border: 1px 0px 1px 0px;
}
