/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

* {
    selected-normal-background: none;
}
configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 1000px;
}

mainbox {
    children: [ inputbar, message, listview ];
}

inputbar {
    enabled: false;
}

listview {
    flow: horizontal;
    columns: 5;
    lines: 3;
}

element {
    children: [ element-icon, element-text ];
    orientation: vertical;
    spacing: 4px;
    padding: 8px;
}
element selected {
    border: 2px;
    border-radius: 5px;
    border-color: #6a707f;
}
element-icon {
    size: 150px;
    horizontal-align: 0.5;
}
element-text {
    horizontal-align: 0.5;
    font: "JetBrainsMono Nerd Font Propo SemiBold 11";
    highlight: bold #b6e0a4;
}

textbox {
    text-color: #b6e0a4;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
