/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

@import "ZENON"

configuration {
    kb-remove-to-sol: "BackSpace";
    kb-remove-char-back: "";
}

window {
    width: 900px;
}

mainbox {
    children: [ inputbar, message, listview ];
}

inputbar {
    enabled: false;
}

listview {
    columns: 1;
    lines: 14;
}

element {
    padding: 2px 20px 2px 20px;
}
element-text {
    horizontal-align: 0.5;
    highlight: bold #b6e0a4;
}

textbox {
    text-color: #a2a8bc;
    font: "JetBrainsMono Nerd Font Propo Bold 12";
}
