/**
* ┌─┐┌─┐┌┐┌┬ ┬┌─┐┬─┐┬┌─┌─┐
* ┌─┘├┤ │││││││ │├┬┘├┴┐└─┐
* └─┘└─┘┘└┘└┴┘└─┘┴└─┴ ┴└─┘
* https://github.com/kbuckleys/ */

* {
    font: "JetBrainsMono Nerd Font Propo Medium 12";
    alternate-normal-background: @normal-background;
    selected-urgent-background: @urgent-background;
    alternate-urgent-foreground: @urgent-foreground;
    alternate-active-foreground: @active-foreground;
    selected-active-background: @normal-background;
    alternate-active-background: @normal-background;
    active-foreground: @selected-normal-foreground;
    alternate-normal-foreground: @foreground;
    border-color: rgba(155, 191, 191, 0.2);
    alternate-urgent-background: #e78284;
    background-color: @normal-background;
    selected-normal-foreground: #DFDFDD;
    selected-active-foreground: #0B0E0E;
    selected-urgent-foreground: #0B0E0E;
    selected-normal-background: rgb(69, 80, 92, 0.3);
    active-background: @background;
    normal-foreground: @foreground;
    normal-background: #00000000;
    lightfg: @normal-background;
    background: rgba(0, 0, 0, 0.8);
    separatorcolor: @foreground;
    urgent-background: #e78284;
    urgent-foreground: #e78284;
    foreground: #DFDFDD;
    lightbg: #DFDFDD;
    blue: #9BBFBF;
    red: #e78284;
}

window {
    location: south;
    anchor: south;
    background-color: @background;
    border-radius: 10px 10px 0px 0px;
    border: 1px;
}

mainbox {
    border: 0px;
    padding: 0px 0px 0px 0px;
}

message {
    background-color: rgb(40, 47, 54, 0.4);
    border-color: rgb(69, 80, 92, 0.3);
    padding: 5px 30px 5px 30px;
    margin: 0px 0px 0px 0px;
    border: 0px 0px 1px 0px;
}

textbox {
    horizontal-align: 0.5;
}

listview {
    padding: 0px 3px 2px 3px;
    fixed-columns: false;
    fixed-height: false;
    scrollbar: false;
}

element {
    padding: 2px 20px 2px 20px;
}
element-text {
    background-color: transparent;
    text-color: inherit;
}
element.normal.normal {
    background-color: @normal-background;
    text-color: @normal-foreground;
}
element.normal.urgent {
    background-color: @urgent-background;
    text-color: @urgent-foreground;
}
element.normal.active {
    background-color: @active-background;
    text-color: @active-foreground;
}
element.selected.normal {
    background-color: @selected-normal-background;
    text-color: @selected-normal-foreground;
}
element.selected.urgent {
    background-color: @selected-urgent-background;
    text-color: @selected-urgent-foreground;
}
element.selected.active {
    background-color: @selected-active-background;
    text-color: @selected-active-foreground;
}
element.alternate.normal {
    background-color: @alternate-normal-background;
    text-color: @alternate-normal-foreground;
}
element.alternate.urgent {
    background-color: @alternate-urgent-background;
    text-color: @alternate-urgent-foreground;
}
element.alternate.active {
    background-color: @alternate-active-background;
    text-color: @alternate-active-foreground;
}

icon-current-entry {
    background-color: #00000000;
}

scrollbar {
    handle-color: rgba(155, 191, 191, 0.2);
    handle-width: 8px;
    width: 8px;
    padding: 0;
    border: 0;
}

mode-switcher {
    border-color: @separatorcolor;
    border: 2px 0px 0px;
}

button {
    text-color: @normal-foreground;
    spacing: 0;
}
button.selected {
    background-color: @selected-normal-background;
    text-color: @selected-normal-foreground;
}

prompt {
    text-color: @normal-foreground;
    spacing: 0;
}
textbox-prompt-colon {
    text-color: @normal-foreground;
    padding: 6px 10px 6px 20px;
    expand: false;
    str: "";
}
inputbar {
    children: [ prompt,textbox-prompt-colon,entry,case-indicator ];
    text-color: @normal-foreground;
    padding: 0px 0px 0px 0px;
    spacing: 0;
}

case-indicator {
    text-color: @normal-foreground;
    spacing: 0;
}

entry {
    text-color: @normal-foreground;
    padding: 6px 6px 6px 6px;
}
